# Ignorar archivos de configuración del sistema operativo
.DS_Store
Thumbs.db

# Ignorar archivos de compilación
/build
/dist

# Ignorar dependencias
node_modules
/vendor
docker-compose-back-vendelo.yml
docker-compose-back.yml
docker-compose-dolce.yml
docker-compose-dolce-back.yml
docker-compose-lomeat.yml

node_modules
# Ignorar archivos de entorno
.env
.env.local

# Ignorar archivos de log
*.log

# Ignorar archivos temporales
*.tmp
